<h1 class="ui header">
  Players
  <a class="ui small green button right floated" href="/players/new">Create new</a>
</h1>
<table class="ui selectable compact single line table">
  <thead>
    <tr>
      <th></th>
      <th>Nick</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in c.players">
      <td class="collapsing"><i ng-if="p.country.length == 2" class="flag {{p.country}}"></i></td>
      <td>{{p.nick}}</td>
      <td>{{p.firstName}}</td>
      <td>{{p.lastName}}</td>
      <td class="collapsing right aligned">
        <a class="ui compact basic mini button" href="/players/{{p._id}}/edit">Edit</a>
        <button class="ui compact basic red mini button" ng-click="c.delete(p)">Remove</button>
      </td>
    </tr>
  </tbody>
  <tfoot ng-if="c.loading">
    <tr>
      <th colspan="5">
        <div class="ui active centered inline loader"></div>
      </th>
    </tr>
  </tfoot>
</table>
